[user]
	name = lmarkiewicznr2-ui
	email = lmarkiewicznr2@gmail.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/leon/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/leon/.local/bin/gh auth git-credential
[pull]
	rebase = true
